{% extends 'core/base-blog.html' %}

{% block content %}

    <div class="row">

        {% for post in object_list %}
            <div class="card-deck col-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.nome|safe }}</h5>
                        <p class="card-text">{{ post.descricao|safe }}</p>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Leia Mais</a>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted"> {{ post.criado }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


